*{margin:0; padding:0;font-family: Ariel; font-size: 14px; font-weight: normal}
body{margin: 20px auto; background: url(../Images/bg.png) repeat fixed; width: 960px}

.main{background: white}

.maincontent {height: 430px}


.content{float: right; width: 680px; margin-top: 20px}
.content h {font-size: 60px;margin-left: 20px; margin-bottom: 25px; margin-top: 200px}
.content h1{margin-left: 25px; margin-top: 15px; font-size: 16px}
.content p {padding: 15px; margin-left: 30px}
.content p a {text-decoration: none; color: black}

.menu {float: left}
.menu ul {width: 250px; margin-right: 20px;background: #ededed; margin-left: 10px; list-style: none;}
.menu ul li{margin: 10px; padding: 10px; border-bottom: 1px solid #c0c0c0}
.menu ul li a{text-decoration: none;color: #6B717B}
.menu ul li a:hover{color: black; font-weight: bold; padding: 10px}
.menu h1 {background: #000; color: #FFFFFF; font-weight: normal; margin-bottom: 20px; margin-top: 20px; padding: 20px 25px; width: 200px; font-size: 20px; }

.footer {background: #1d1c1cd2; padding:10px; color: white; margin-top: 15px}
.one {width:320px; float: left}
.two {width:320px; padding: 0px 300px}
.three {float: right; margin-top: -16px;}